.form-input {
  margin: 2em;
  margin-left: 6em;
  margin-right: 6em;
  border-radius: 25px;
  border: 1px solid black;
}
.align-right {
  text-align: right;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}
.cert-list {
  width: 80%;
}
.mat-slider {
  width: 30%;
}
