.career-popup{
    text-align: justify;
}
.mat-card{
    border-color: white;
    box-shadow: none;
}
.sector{
    width: 100%;
    text-align: left;
}.careers{
    text-align: justify;
    align-content: center;
    align-items: stretch;
}
.career{
    width: 28%;
    margin:auto;
    height: 75%;
    text-align: justify;
    align-self: stretch;
}
.sector:hover {
    background-color: rgba(58, 56, 56, 0.05) !important;
    cursor: pointer;
}
.career:hover {
    background-color: rgba(58, 56, 56, 0.05) !important;
    cursor: pointer;
}
.mat-card:focus {
    outline: none;
 }
.router-Link{
    border: none;
}
.mat-card-title{
    text-align: center;
}
.center-line{
    width: 100%;
    border-top: thin;
    border-color: black;
    border-width: 1px;
}

