<h1> Lets Find a Career For You!</h1>
<div class="container">
    <h1>Hero Form</h1>
    <form>

    </form>
</div>
<button (click)="goBack()">go back</button>

<div><label>Skill 1: </label>
    <select>
        <option *ngFor="let skill of skills" [value]="skill">{{skill.name}}</option>
    </select>
</div>
<div><label>Skill 2: </label>
    <select>
        <option *ngFor="let skill of skills" [value]="skill">{{skill.name}}</option>
    </select>
</div>
<div><label>Skill 3: </label>
    <select>
        <option *ngFor="let skill of skills" [value]="skill">{{skill.name}}</option>
    </select>
</div>
<div>
    Certifications: 
        <ul class="certifications">
            <li *ngFor="let certification of certifications"
                (click)="onSelect(certification)">
                <span class="badge">{{certification.id}}</span>{{certification.name}}
            </li>
        </ul>
</div>
<button (click)="calculateCareer()">Calculate Career</button>