<div mat-dialog-actions class="career-popup">
  <mat-card class="sector" *ngIf="data.sector" routerLink="/Sectors/{{data.sector.id}}"
  (click)="onNoClick()" mat-ripple>  
      <mat-card-title>{{data.sector.name}}</mat-card-title>
      <mat-card-content>{{data.sector.description}}</mat-card-content>
  </mat-card>
  <mat-card class="career" *ngIf="data.careerOne" routerLink="/Career/{{data.careerOne.id}}" 
  (click)="onNoClick()" mat-ripple>
        <mat-card-title>{{data.careerOne.name}}</mat-card-title>
        <mat-card-content>{{data.careerOne.shortDescription}}</mat-card-content>
  </mat-card>
  <mat-card class="career" *ngIf="data.careerTwo" routerLink="/Career/{{data.careerTwo.id}}" 
  (click)="onNoClick()" mat-ripple>
        <mat-card-title>{{data.careerTwo.name}}</mat-card-title>
        <mat-card-content>{{data.careerTwo.shortDescription}}</mat-card-content>
  </mat-card>
  <mat-card class="career" *ngIf="data.careerThree" routerLink="/Career/{{data.careerThree.id}}"
  (click)="onNoClick()" mat-ripple>
        <mat-card-title>{{data.careerThree.name}}</mat-card-title>
        <mat-card-content>{{data.careerThree.shortDescription}}</mat-card-content>
  </mat-card>
  <div>
    <button mat-button color=primary (click)="onNoClick()">No Thanks</button>
  </div>
</div>