.mat-h1 {
  font-size: 48px;
  color: #003366;
}
.framework {
  padding: 1%;
}
.mat-card:focus {
  outline: none;
}
.router-Link {
  border: none;
}
.mat-divider {
  margin-left: -1% !important;
  margin-right: -1% !important;
}
.mat-card {
  padding: none;
  border-color: white;
  box-shadow: none;
}
.sector {
  cursor: pointer;
}
