<div>
  <img src="../../assets/Phase2.svg" width ="100%">
</div>
<div class ="framework" *ngIf='sector'>
  <div class="mat-h1">{{sector.name}}</div>
  <h2>{{sector.description}}</h2>
    <mat-divider></mat-divider>
    <div *ngFor='let career of careers'>
    <mat-card class="sector" routerLink="/Career/{{career.id}}"
         mat-ripple>  
        <mat-card-title>{{career.name}}</mat-card-title>
        <mat-card-content>{{career.shortDescription}}</mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
  <button mat-button color=primary (click)="goBack()">go back</button>
</div>
