<div>
  <img src="../../assets/Phase2.svg" width="100%" />
</div>
<div class="framework">
  <div *ngIf="career">
    <div class="mat-h1">{{ career.name }}</div>
    <div class="shortDescript">{{ career.shortdescription }}</div>
    <mat-divider></mat-divider>
    <b>
      <div class="point">
        Salary: {{ career.salaryrange[0] | currency: "USD":"symbol":"1.0-0" }} -
        {{ career.salaryrange[1] | currency: "USD":"symbol":"1.0-0" }}
      </div>
      <div class="point">Prior Experience: {{ career.priorexperience }}</div>
      <div class="point">
        Estimated Time to Completion: {{ career.estimatedcompletion }}
      </div>
    </b>
    <mat-divider></mat-divider>
    <div class="long-descript">
      <p>{{ career.description }}</p>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div *ngIf="career" class="path-button">
  <a routerLink="/CareerPath/{{ career.id }}"
    ><button mat-button class="long-button" color="primary">
      See this Career Path
    </button></a
  >
</div>
<mat-divider></mat-divider>
<button mat-button color="primary" (click)="goBack()">go back</button>
