.framework {
  padding: 1%;
}
.mat-h1 {
  font-size: 48px;
  color: #003366;
}
.shortDescript {
  font-size: 16px;
}
.point {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 20px;
  font-style: oblique;
}
.path-button {
  text-align: center;
  background-color: #f2f1ee;
}
.long-descript {
  margin-top: 1%;
}
.long-button {
  width: 100%;
}
