<div class="page-top">
<a routerLink="/Overview"><img src="../assets/VJM-Logo.jpg" alt="Italian Trulli" width="20%"></a>
</div>
<div class="center-menu">
    <a routerLink="/Matching">
            <button mat-button>
            <span class="menu-button">
                Find a Career
            </span>
        </button>
    </a>
    <a routerLink="/Sectors">
        <button mat-button>
            <span class="menu-button">
                Explore Career Sectors
            </span>
        </button>
    </a>
    <a routerLink="/Roadmap">
        <button mat-button>
            <span class="menu-button">Explore the Roadmap</span>
        </button>
    </a>
</div>
<div class="main-content">
<router-outlet></router-outlet>
</div>
<div id="footer">
    <P>This website is not endorsed by the Veteran Jobs Mission to get to their official website please 
        <a href="https://veteranjobsmission.com/">click here</a>
    </P>
</div>
